.signContainer{
width: 90%;
margin: 1rem auto;
display:flex;
flex-direction: column;
align-items: center;
background-color: #212e42;
border-radius: 2rem;
}

.housisContainer img{
  display: none;
}

.inputs{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 95%;
  padding: 2rem;
  background-color: #212e42;
  border-radius: 1rem;
  margin-top: 2rem;
}
.inputRole,
.mail,
.passwordCheck,
.name,
.surname,
.pic,
.country,
.password,
.account{
padding: 1rem;
margin-bottom: 1rem;
color: #212e42;
background-color: #6a93d3;
font-size: 1.6rem;
border: none;
border-radius: 1rem;
}

.inputRole{
  font-size: 1.4rem;
}

.inputRole option.option{
  border: black;
  background-color: whitesmoke;
}

.logError{
  color: whitesmoke;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(148, 3, 3, 0.493);
  margin:0.5rem auto;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 1rem;
}
.send{
  padding: 1rem;
  display: flex;
  width: 80%;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.8rem;
  color: #212e42;
}

.send:hover{
  color: whitesmoke;
  background-color:#212e42;
  -webkit-transition: all 0.2s ease;
  transition: all 1s ease-in-out;
}
.googleBtn{
  margin: 1rem;
  border-radius: 1rem!important;
}

.googleBtn div{
  border-radius: 50%!important;
}

.or{
  color:whitesmoke;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .signContainer{
    width: 70%;
    margin: 1rem auto;
    background-color: #212e42;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
  }
  .housisContainer{
    display: flex;
    width: 95%;
    justify-content:space-between;

    margin: 4rem auto;
  }
  .housisContainer img{
    width: 10vh;
    display: flex;
  }
  
}
@media (min-width: 1000px) {
  .signContainer{
    width: 40%;
    margin: 1rem auto;
  }
  .housisContainer{
    display: flex;
    width: 95%;
    justify-content:space-between;
    margin: 4rem auto;
  }
  .housisContainer img{
    width: 10vh;
  }
}



.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}
.btn--1::before {
  width: 0;
  height: 100%;
}
.btn--1:hover {
  color: #434343;
}
.btn--1:hover::before {
  width: 100%;
}
.btn--2:hover {
  background-color: #20e2d7;
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
  color: #434343;
}
.btn--3:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #20e2d7;
  color: #434343;
}
.btn--4::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 750ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
}
.btn--4:hover::before {
  left: 520px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}
.account:focus , .pass:hover, .password:focus, .sen:focus,.send:focus, .mail:focus,.passwordCheck:focus,.name:focus,.surname:focus,.pic:focus,.country:focus{
  outline: none;
}

.account:hover , .pass:hover, .password:hover ,.accoun:hover, .sen:hover,.send:focus, .mail:hover,.passwordCheck:hover,.name:hover,.surname:hover,.pic:hover,.country:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition-duration: 0.3s;
 
}


/* ANIMACION DE FORM */

/* .animar {
color: white;
padding: .2rem .3rem 1rem .3rem;
position: relative;
border-radius: 2rem 2rem 0 0;
animation-name: animar;
animation-duration: 5s;
animation-iteration-count: infinite;
margin-left: 50vh;
}

.animar{
  width: 15vh;
}

@keyframes animar{
0%   {top: 500px; right:500px}
25%  {top: 300px; right:500px}
75%  {top: 50px; right:500px}
100% {top: 500px;}
} */


/*MAQUETACION SING IN */
/* 
.signContainer{
  width: 50%;
  background: #b5c7da;
  height: 50vh;
  margin: 1rem auto 6rem auto;
  border-radius: 4px;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px #000;
  background-image: url("../images/logs1.jpg"); 
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  
}

.titleContainer{
  margin: 0 auto;
  text-align: center;
}


.title{
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  
}

.inputs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 7rem auto;
  width: 80%;
  height: 80%;
  background: rgba(1, 40, 78, 0.301);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aae7ff;
  font-size: 18px;
  color: white;
   
  border:none;
 align-items: center;
}

.mail,
.passwordCheck,
.name,
.surname,
.pic,
.country,
.password,
.account{
  width: 100%;
  background: #000000cc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #aae7ff;
  font-size: 18px;
  color: whitesmoke;
  border:none;
}




.account:focus , .pass:hover, .password:focus, .sen:focus,.send:focus, .mail:focus,.passwordCheck:focus,.name:focus,.surname:focus,.pic:focus,.country:focus{
  outline: none;
}

.account:hover , .pass:hover, .password:hover ,.accoun:hover, .sen:hover,.send:focus, .mail:hover,.passwordCheck:hover,.name:hover,.surname:hover,.pic:hover,.country:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition-duration: 0.3s;
 
}




.send{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 16px;
  outline: none;
  font-size:2rem;
}

.send:hover{
  background-color:#0d307a ;
  -webkit-transition: all 0.2s ease;
    transition: all 1s ease-in-out;
}

.logError{

  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(145, 5, 5, 0.932);
  padding: 0.2rem;
  color:whitesmoke;
  border-radius: 0.5rem;
}





.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content {
  background-color: #434343;
}

.btn {
  position: relative;
  display: block;
  height: 77px;
  width: 300px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}
.btn--1::before {
  width: 0;
  height: 100%;
}
.btn--1:hover {
  color: #434343;
}
.btn--1:hover::before {
  width: 100%;
}
.btn--2:hover {
  background-color: #20e2d7;
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
  color: #434343;
}
.btn--3:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #20e2d7;
  color: #434343;
}
.btn--4::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 750ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
}
.btn--4:hover::before {
  left: 520px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}



/* ANIMACION DE FORM */

/* .animar {
color: white;
padding: .2rem .3rem 1rem .3rem;
position: relative;
border-radius: 2rem 2rem 0 0;
animation-name: animar;
animation-duration: 5s;
animation-iteration-count: infinite;
margin-left: 50vh;
}

.animar{
  width: 15vh;
}

@keyframes animar{
0%   {top: 500px; right:500px}
25%  {top: 300px; right:500px}
75%  {top: 50px; right:500px}
100% {top: 500px;}
} */

/* ANIMACION DE FORM */

/* 
.googleBtn{

margin: 0 auto;

}
  */